<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
    		<body>
			<section class="page-header"> 
			<nav>
				<ul>
				  <li><a href="/">Home</a></li>
				  <li><a href="/cv">CV</a></li>
				  <li><a href="/resume">Résumé</a></li>
				  <li><a href="/researchprojects/researchprojects">Research/Projects</a></li>
				  <li><a href="/teaching/teaching">Teaching</a></li>
				  <li><a href="/coursework/coursework">Coursework</a></li>
				  <li><a href="/publication/publication">Publications</a></li>
				  <li><a href="/app/app">Apps</a></li>
				  <li><a href="/contact/contact">Contact</a></li>
				</ul>
		      	</nav>
			</section>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
		      	<footer class="footer">
				<ul>
			  		<li><a href="mailto:yjkweon24@berkeley.edu">email1</a> or <a href="mailto:yong.kweon@mail.mcgill.ca">email2</a></li>
				</ul>
				<small>
			  		&copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%D' }}</time>. All rights reserved.
				</small>
		      </footer>
  		</body>
  	</html>

    
   
